<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Wall</title>
</head>
<body>
    <div class="container">

        <div class="header">
            <h1>CodingDojo Wall</h1>
            <p> Welcome {{Placeholder}}</p>
            <a href="/destroy">Log Off</a>
        </div>

        <div class="post_message">
            <form action="{{Placeholder}}" method="POST">
                <input type="text" class="message_box" placeholder="Post a message...">
                <input type="submit" value="Post It">
            </form>
        </div>

        {{###----Messages and comments here----###}}

    </div>
</body>
</html>